<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Школы Санкт-Петербурга</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/style.css')}}>
    <style type="text/css">
    </style>
</head>
<body>
    <h1>На этом сайте можно найти школы Санкт-Петербурга и информацию о них</h1>
    <form action="/schools">
        <input type="submit" value="Список школ" />
    </form>
    <form action="/feedback">
        <input type="submit" value="К отзывам" />
    </form>
</body>
</html>